extend layout.pug

block content
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-body
            #mainback
                #top
                    .imagelogo
                    .countdown
                        span#time
                |
                .row
                    #mainmiddle           
                        - var IsError = `${data.validated}`
                        if IsError == 'address' 
                            p.itemdesc There was an error generating address, please try again.
                            script(type='text/javascript').
                                $('#exampleModal').modal('show');
                        if IsError == 'currency' 
                            p.itemdesc There was an error with the currency, please try again.
                            script(type='text/javascript').
                                $('#exampleModal').modal('show');
                        if IsError == 'headers' 
                            p.itemdesc Missing request information, please try again.
                            script(type='text/javascript').
                                $('#exampleModal').modal('show');       
                        if IsError == 'query' 
                            p.itemdesc There was an error on the DB, please try again.
                            script(type='text/javascript').
                                $('#exampleModal').modal('show');
                        if IsError == 'true' 
                            #pr_a(hidden='') #{data.privateAddress}
                            #pu_a(hidden='') #{data.publicAddress}
                            #add_rr(hidden='') #{data.Address}
                            #Eid(hidden='') #{data.RPQ}
                            #Mbs(hidden='') #{data.Mbs}
                            #Cnt(hidden='') #{data.Cnt}
                            p.cost Precio: #{data.Amount} Dash
                            p.costBs #{data.AmountBsS} BsS
                            p.itemdesc #{data.InvoiceID}
                            #QR
                                #RAddress
                                #mainHexButton
                                    #HexButton
                                        button#bot(title='Haga click aqui para copiar la direcion',onclick="copyThat()")
                                        input#HexAddr(type='text', value=`${data.SimpleAddress}`,readonly) 
                            #dashText 
                                .SubDashText
                                    p.PrevTextToken Paga con    
                                    a.dashTextUp(href='https://dashtext.io/',target="_blank")
                                //p.dashTextDown
                                p.TextToken Compra #{data.TextToken}
                            #dashHelp          
                                p.dashHelpUp     
                                p.dashHelpDown 
                            #dashSupport
                                a.dashSC(href='https://dashhelpme.io/',target="_blank")
                                a.dashSCPN(href='tel:+582127201174')                 
                            script(src='js/simplebundle.js') //––time.js––
                            script(src='js/copied.js')     
                            //script(src='js/time.js')
                            script(type='text/javascript').
                                $('<img src="/img/failed.png"/>');
                                $('<img src="/img/check.png"/>');
                                $('<img src="/img/success.png"/>');
                                $('<img src="/img/fail.png"/>');
                                $('<img src="/img/DTT.png"/>');
                                $('#exampleModal').modal('show');
                                startTimer(5 * 60, $('#time')); // Counter clock 
                                new QRCode(document.getElementById("RAddress"), "#{data.RAddress}");                      
                                //$('#tiqr').prepend('<div class = "topdiv"><img id="DashLoader" style="width:100px;height:100px;" src="img/dash.svg" class="ld ld-coin-h" /></div>')
                                /*   setTimeout(function () {
                                    $('#timerqr').addClass("blurmed");
                                }, 2000);
                                setTimeout(function () {
                                    $('#maindv').prepend('<div id="dashspinner" class = "topdiv"><img id="DashLoader" style="width:100px;height:100px;" src="img/dash.svg" class="ld ld-coin-h" /></div>')
                                }, 4000);
                                            setTimeout(function () {
                                    $('#maindv').prepend('<div class = "topdivchecked"><img id="DashCompleted" style="width:100px;height:100px;" src="img/checkdash.svg" class="ld ld-heartbeat" /></div>')
                                }, 6000);*/
