extend layout.pug

block content
    - var language = `${data.validated}`
    if language == 'false' 
        p There was an error with the data, please try again.
    else
        #pr_a(hidden='') #{data.privateAddress}
        #pu_a(hidden='') #{data.publicAddress}
        #add_rr(hidden='') #{data.Address}
        p This is an invoice number: #{data.InvoiceID}  
        div(style='display: -webkit-inline-box;')
            p This is the address that is about to be acredited:&nbsp 
            span#HexAddr  #{data.SimpleAddress}  
        p This is the amount: #{data.Amount}
        #RAddress
        .ldBar(style='width:40%;height:40%;margin:auto')
            .love
        script(src='js/simplebundle.js')
        //script(src='js/time.js')
        script(type='text/javascript').
            new QRCode(document.getElementById("RAddress"), "#{data.RAddress}");
            
        